<footer class="footer">
  <dl>
{%- if date -%}
    <dt class="visually-hidden">Published on</dt>
    <dd>
      <time class="dt-published" datetime="{{ date | date: dates.iso }}">{% if type == 'entry-untitled' %}{{ date | date: dates.datetime_full }}{% else %}{{ date | date: dates.date_long }}{% endif %}</time>
    </dd>
{%- endif -%}
{%- if location -%}
    <dt class="visually-hidden">Published in</dt>
    <dd class="p-location h-adr">
      <span class="p-locality">{{ location.locality }}</span>,
      <span class="p-country-name">{{ location.country-name }}</span>
    </dd>
{%- endif -%}
{%- if geo -%}
    <dt class="visually-hidden">Coordinates</dt>
    <dd class="p-location h-geo">
      <a href="https://duckduckgo.com/?q={{ geo.latitude }},{{ geo.longitude }}&iaxm=places">
        <data class="p-latitude" value="{{ geo.latitude }}">{{ geo.latitude | round: 2 }}<abbr title="degrees">°</abbr> <abbr title="North">N</abbr></data>,
        <data class="p-longitude" value="{{ geo.longitude }}">{{ geo.longitude | round: 2 }}<abbr title="degrees">°</abbr> <abbr title="East">E</abbr></data>
      </a>
    </dd>
{%- endif -%}
{%- if inReplyTo -%}
    <dt>In reply to</dt>
    <dd>
      <a class="u-in-reply-to" href="{{ inReplyTo }}">a post on {{ inReplyTo | hostname }}</a>
    </dd>
{%- endif -%}
{%- if canonical -%}
  {%- for source in sources -%}
    {%- if canonical.source == source.title | slug -%}
    <dt>Originally appeared in</dt>
    <dd><cite>{{ source.title }}</cite>, {{ canonical.edition }}</dd>
    {%- endif -%}
    {%- if canonical.url contains source.url -%}
    <dt>Originally published by</dt>
    <dd><a rel="canonical external" href="{{ canonical.url }}"><cite>{{ source.title }}</cite></a></dd>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
  </dl>
</footer>
