<header class="header">
  <h1 class="header__title{% if vocab %} | p-name{% endif %}">
    {% if icon %}<svg width="1em" height="1em" aria-hidden="true" focusable="false"><use href="/assets/vectors/app.svg#{{ icon }}"></use></svg>{% endif %}
    {{ title | newline_to_br }}
  </h1>
{%- if summary -%}
  <div class="header__summary{% if vocab %} | p-summary{% endif %}">
    {{ summary | markdown }}
  </div>
{%- endif -%}
{%- if url -%}
  <div class="header__url">
    <a class="u-{{ url_class | default: 'url' }}" rel="external" href="{{ url }}">{{ url | hostname }}</a>
  </div>
{%- endif -%}
</header>
