<ul class="navigation navigation--elsewhere">
{%- for item in navigation-elsewhere -%}
  {%- assign id = item.label | downcase | remove: '.' -%}
  <li>
    <a href="{{ item.url }}" rel="{{ item.rel }}">
      <svg width="24" height="24" role="img" aria-labelledby="{{ id }}-title" focusable="false">
        <title id="{{ id }}-title">{{ item.label }}</title>
        <use href="/assets/vectors/app.svg#{{ id | slug }}"></use>
      </svg>
    </a>
  </li>
{%- endfor -%}
</ul>
