<nav class="section" aria-labelledby="{{ id }}">
  <div class="section__container">
    <header class="section__header">
      <h2 class="section__title" id="{{ id }}">{{ title }}</h2>
    </header>

    <ol class="section__main" style="--grid-size: 7.5rem">
    {%- for item in section-archives -%}
      <li class="item item--inline">
        <h3 class="item__title"><a href="{{ item.url }}">{{ item.data.itemTitle | default: item.data.introduction }}</a></h3>
      </li>
    {%- endfor -%}
    </ol>
  </div>
</nav>
