<table class="trips">
  <thead>
    <tr>
      <th>Date</th>
      <th>Trip</th>
      <th>Distance (<abbr title="kilometers">km</abbr>)</th>
      <th>CO<sub>2</sub> (<abbr title="kilograms">kg</abbr>)</th>
    </tr>
  </thead>
  <tbody>
  {%- for item in trips -%}
    <tr>
      <th>
        <a rel="bookmark" href="{{ item.url }}">
          <time datetime="{{ item.data.trip.date }}">{{ item.data.trip.date | date: dates.date_short }}</time>
        </a>
      </th>
      <td>
      {% for stop in item.data.trip.stops %}
        <span>{% unless forloop.first %}{% icon stop.icon %} {% endunless %}{{ stop.title }}{% if stop.iata %} ({{ stop.iata }}){% endif %}</span><br>
      {% endfor %}
      </td>
      <td>{{ item.data.trip.distance }}</td>
      <td>{{ item.data.trip.co2 }}</td>
    </tr>
  {%- endfor -%}
  </tbody>
</table>
