<article class="item | h-event">
  <header class="item__header">
    <h3 class="item__title | p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {{ item.data.title | markdown: 'inline' }}
        {% if item.data.url contains 'imdb.com' %}
          <svg width="20" height="20" role="img" aria-labelledby="film-title" focusable="false">
            <title id="film-title">(Film)</title>
            <use href="/assets/vectors/app.svg#film"></use>
          </svg>
        {% endif %}
      </a>
    </h3>
  </header>

{%- if item.data.place and hideSummary != true -%}
  <div class="item__main s-linear | p-location">
    <p class="h-card">at <span class="p-name">{{ item.data.place.data.place.title }}</span></p>
  </div>
{%- endif -%}

  <footer class="item__footer">
    <time class="dt-published" datetime="{{ item.date | date: dates.iso }}">{{ item.date | date: dates.date_short }}</time>
    <time class="dt-start" datetime="{{ item.data.start | date: dates.iso }}"></time>
    <time class="dt-end" datetime="{{ item.data.end | date: dates.iso }}"></time>
  </footer>
</article>
