<address class="h-adr">
  {%- if address.street_address %}<span class="p-street-address">{{ address.street_address }}</span><br>{% endif -%}
  {%- if address.locality %}<span class="p-locality">{{ address.locality }}</span>&nbsp;{% endif -%}
  {%- if address.region %}<br><span class="p-region">{{ address.region }}</span>&nbsp;{% endif -%}
  {%- if address.postal_code %}<span class="p-postal-code">{{ address.postal_code }}</span>{% endif -%}
  {%- if address.country_name %}<br><span class="p-country-name">{{ address.country_name }}</span>{% endif -%}
</address>
