{%- assign src = embed -%}
{%- if embed contains 'mapbox' -%}
  {%- capture img %}{{ poster }}960x540@2x?access_token={{ app.token.mapbox }}{% endcapture -%}
{%- elsif embed contains 'vimeo' -%}
  {%- capture src %}{{ embed | replace: 'vimeo.com','player.vimeo.com/video' }}?color=fff&title=0&byline=0&badge=0&portrait=0&autoplay=1{% endcapture -%}
  {%- capture img %}{{ poster }}?mw=1920&q=80{% endcapture -%}
{%- elsif embed contains 'youtube' -%}
  {%- assign poster = embed | replace: 'https://www.youtube.com/watch?v=','https://i.ytimg.com/vi/' -%}
  {%- capture src %}{{ embed | replace: 'www.youtube.com/video','www.youtube-nocookie.com/embed' }}?showinfo=0&rel=0&modestbranding=1&autoplay=1{% endcapture -%}
  {%- capture img %}{{ poster }}/sddefault.jpg{% endcapture -%}
{%- else -%}
  {%- capture img %}https://res.cloudinary.com/paulrobertlloyd/image/fetch/c_fill%2Cf_auto%2Cq_auto%2Cw_1920/{{ app.url }}/images/{{ poster }}{% endcapture -%}
{%- endif -%}
<figure class="align-{{ alignment | default: 'none' }}">
  <a href="{{ embed }}" data-embed-src="{{ src }}" style="--aspect-ratio: {{ ratio | default: '16/9' }}">
    <img src="{{ img }}" alt="">
  </a>
{%- if caption -%}
  <figcaption>
    {{ caption | markdownify }}
  </figcaption>
{%- endif -%}
</figure>
