{%- assign src = embed -%}
{%- if embed contains 'mapbox' -%}
  {%- assign img = poster | append: '960x540@2x?access_token=' | append: app.token.mapbox -%}
{%- elsif embed contains 'vimeo' -%}
  {%- assign src = embed | replace: 'vimeo.com','player.vimeo.com/video' | append: '?color=fff&title=0&byline=0&badge=0&portrait=0&autoplay=1' -%}
  {%- assign img = poster | append: '?mw=1920&q=80' -%}
{%- elsif embed contains 'youtube' -%}
  {%- assign src = embed | replace: 'www.youtube.com/watch?v=','www.youtube-nocookie.com/embed/' | append: '?modestbranding=1&autoplay=1' -%}
  {%- assign img = embed | replace: 'www.youtube.com/watch?v=','i.ytimg.com/vi/' | append: '/hqdefault.jpg' -%}
{%- else -%}
  {%- capture img %}https://res.cloudinary.com/paulrobertlloyd/image/fetch/c_fill%2Cf_auto%2Cq_auto%2Cw_1920/{{ app.url }}/images/{{ poster }}{% endcapture -%}
{%- endif -%}
<a href="{{ embed }}" data-embed-src="{{ src }}" style="--aspect-ratio: {{ ratio | default: '16/9' }}">
  <img src="{{ img }}" alt="">
</a>
