<footer class="footer">
  <dl>
    <dt class="visually-hidden">Published on</dt>
    <dd>
      <time class="dt-published" datetime="{{ date | date: dates.iso }}">{% if layout == 'note' or layout == 'photo' %}{{ date | date: dates.datetime_full }}{% else %}{{ date | date: dates.date_long }}{% endif %}</time>
    </dd>
{%- if location -%}
    <dt class="visually-hidden">Published in</dt>
    <dd class="p-location h-adr">
      <span class="p-locality">{{ location.locality }}</span>,
      <span class="p-country-name">{{ location.country-name }}</span>
    </dd>
{%- endif -%}
{%- if geo -%}
    {%- assign geo = geo | split: ',' -%}
    <dd class="p-location h-geo">
      <a href="https://www.openstreetmap.org/#map=15/{{ geo[1] }}/{{ geo[0] }}">
        <data class="p-latitude" value="{{ geo[1] }}">{{ geo[1] | round: 2 }}<abbr title="degrees">°</abbr> <abbr title="North">N</abbr></data>,
        <data class="p-longitude" value="{{ geo[0] }}">{{ geo[0] | round: 2 }}<abbr title="degrees">°</abbr> <abbr title="East">E</abbr></data>
      </a>
    </dd>
{%- endif -%}
{%- if in_reply_to -%}
    <dt>In reply to</dt>
    <dd>
      <a class="u-in-reply-to" href="{{ in_reply_to }}">a post on {{ in_reply_to | hostname }}</a>
    </dd>
{%- endif -%}
{%- if canonical -%}
  {%- for item in sources -%}
    {%- if canonical.source == item.fileSlug -%}
    <dt>Originally appeared in</dt>
    <dd><cite>{{ item.data.title }}</cite>, {{ canonical.edition }}</dd>
    {%- endif -%}
    {%- if canonical.url contains item.data.url -%}
    <dt>Originally published by</dt>
    <dd><a rel="canonical external" href="{{ canonical.url }}"><cite>{{ item.data.title }}</cite></a></dd>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
  </dl>
</footer>
