<footer class="footer">
  <dl>
    <dt class="visually-hidden">Published on</dt>
    <dd>{{ properties | datetime }}</dd>
{%- if properties.location -%}
    <dt class="visually-hidden">Published in</dt>
    <dd class="p-location">{{ properties | adr }}</dd>
{%- endif -%}
{%- if properties.in_reply_to -%}
    <dt>In reply to</dt>
    <dd>
      <a class="u-in-reply-to" href="{{ properties.in_reply_to }}">a post on {{ properties.in_reply_to | hostname }}</a>
    </dd>
{%- endif -%}
{%- if canonical -%}
  {%- for publication in collections.publication -%}
    {%- if canonical.url contains publication.data.url -%}
      <dt>Originally published by</dt>
      <dd>
        <a rel="canonical external" href="{{ canonical.url }}"><cite>{{ publication.data.title }}</cite></a>
      </dd>
      {%- assign processed = true -%}
    {%- elsif canonical.issn and canonical.issn == publication.data.issn -%}
      <dt>Originally appeared in</dt>
      <dd>
        <cite>{{ publication.data.title }}</cite>
        {%- if canonical.edition %}, {{ canonical.edition }}{% endif -%}
      </dd>
    {%- endif -%}
  {%- endfor -%}
  {%- if canonical.url and processed != true -%}
    <dt>Also published at</dt>
    <dd><a rel="canonical external" href="{{ canonical.url }}">{{ canonical.url | hostname }}</cite></a></dd>
  {%- endif -%}
{%- endif -%}
  </dl>
</footer>
