<footer class="footer">
  <dl>
    <dt class="visually-hidden">Date</dt>
    {%- assign dateStart = start | date: dates.date -%}
    {%- assign dateEnd = end | date: dates.date -%}
    <dd>
      {%- if dateStart != dateEnd -%}
        <time class="dt-start" datetime="{{ start | date }}">{{ start | date: dates.date }}</time> -
        <time class="dt-end" datetime="{{ end | date }}">{{ end | date: dates.date }}</time>
      {%- else -%}
        <time class="dt-start" datetime="{{ start | date }}">{{ start | date: dates.date_time }}</time>
        <time class="dt-end" datetime="{{ end | date }}"></time>
      {%- endif -%}
    </dd>
{%- if location.name -%}
    <dt class="visually-hidden">Location</dt>
    <dd class="p-location h-card">
      <span class="p-name">{{ location.name }}</span>
      {%- if location.locality %}, <span class="p-adr h-adr p-locality">{{ location.locality }}</span>{% endif %}
    </dd>
{%- endif -%}
  </dl>
</footer>
