<footer class="footer">
  <dl>
    <dt class="visually-hidden">Date</dt>
    {%- assign date-start = start | date: '%Y%m%d' -%}
    {%- assign date-end = end | date: '%Y%m%d' -%}
    <dd>
      <a class="u-url" rel="bookmark" href="{{ bookmark }}">
      {%- if date-start != date-end -%}
        <time class="dt-start" datetime="{{ start | date: dates.iso }}">{{ start | date: dates.date_long }}</time> -
        <time class="dt-end" datetime="{{ end | date: dates.iso }}">{{ end | date: dates.date_long }}</time>
      {%- else -%}
        <time class="dt-start" datetime="{{ start | date: dates.iso }}">{{ start | date: dates.datetime_full }}</time>
        <time class="dt-end" datetime="{{ end | date: dates.iso }}"></time>
      {%- endif -%}
      </a>
    </dd>
{%- if venue -%}
    <dt class="visually-hidden">Venue</dt>
    <dd class="p-location h-card">
      <a class="u-url" href="{{ venue.data.bookmark }}">
        <span class="p-name">{{ venue.data.title | markdownify: 'inline' }}</span>, <span class="p-adr h-adr p-locality">{{ venue.data.address.locality }}</span>
      </a>
    </dd>
{%- endif -%}
  </dl>
</footer>
