<header class="header">
  <h1 class="header__title{% if vocabulary %} | p-name{% endif %}">
    {% if icon %}<svg width="1em" height="1em" focusable="false" aria-hidden="true"><use href="#_icon_{{ icon }}"></use></svg>{% endif %}
    {{ title | newline_to_br }}
  </h1>
{%- if summary -%}
  <div class="header__summary{% if vocabulary %} | p-summary{% endif %}">
    {{ summary | markdown }}
  </div>
{%- endif -%}
{%- if url -%}
  <div class="header__url s-linear">
    <a class="u-{{ url_class | default: 'url' }}" rel="external" href="{{ url }}">{{ url | hostname }}</a>
  </div>
{%- endif -%}
</header>
