<header class="header">
  <h1 class="header__title{% if vocabulary %} | p-name{% endif %}">
    {%- app_icon icon -%}
    {{- title | newline_to_br -}}
  </h1>
{%- if summary -%}
  <div class="header__summary{% if vocabulary %} | p-summary{% endif %}">
    {{ summary | markdown }}
  </div>
{%- endif -%}
{%- if uid -%}
  <div class="header__uid s-linear">
    <a class="u-{{ uid_class | default: 'uid' }}" rel="external" href="{{ uid }}">{{ uid | hostname }}</a>
  </div>
{%- endif -%}
</header>
