<header class="header">
  <h1 class="p-name">
    {%- app_icon properties.icon -%}
    {{- properties.title -}}
  </h1>
{%- if properties.type != 'article' -%}
{%- if properties.summary or properties.bookmark_of or properties.uid -%}
  <flow-content data-font-size="large">
    <p class="p-summary">{{ properties.summary | markdown: 'inline' }}</p>
{%- if properties.bookmark_of -%}
    <p><a class="u-bookmark-of" rel="external" href="{{ properties.bookmark_of }}">{{ properties.bookmark_of | hostname }}</a></p>
{%- endif -%}
{%- if properties.uid -%}
    <p><a class="u-uid" rel="external" href="{{ properties.uid }}">{{ properties.uid | hostname }}</a></p>
{%- endif -%}
  </flow-content>
{%- endif -%}
{%- endif -%}
</header>
