{%- if categories or syndication or comments -%}
<dl class="meta">
{%- if categories.size > 0 -%}
  <dt>Categories</dt>
  <dd>
    {%- render 'categories' with categories -%}
  </dd>
{%- endif -%}
{%- if syndication.size > 0 -%}
  <dt>Also on</dt>
  <dd>
    {%- for url in syndication %}
      {{ url | syndication }}{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  </dd>
{%- endif -%}
{%- if publication -%}
  <dt>Original publication</dt>
  <dd>
{%- if properties.canonical.url -%}
    <a rel="canonical external" href="{{ properties.canonical.url }}"><cite>{{ publication.title }}</cite></a>
{%- elsif publication.issn -%}
    <cite>{{ publication.title }}</cite>
{%- endif -%}
    {%- if properties.canonical.edition %}, {{ properties.canonical.edition }}{% endif -%}
  </dd>
{%- endif -%}
{%- if comments.data.comments.size > 0 -%}
  <dt>Comments</dt>
  <dd>
    <a href="{{ comments.url }}">{{ comments.data.comments.size | pluralise: 'comment' }} on this post</a>
  </dd>
{%- endif -%}
</dl>
{%- endif -%}
