<table class="trips">
  <thead>
    <tr>
      <th>Date</th>
      <th>Trip</th>
      <th>Distance (<abbr title="kilometers">km</abbr>)</th>
      <th>CO<sub>2</sub> (<abbr title="kilograms">kg</abbr>)</th>
    </tr>
  </thead>
  <tbody>
  {%- for item in trips -%}
    <tr>
      <th>
        <a rel="bookmark" href="{{ item.url }}">
          <time datetime="{{ item.data.start }}">{{ item.data.start | date: dates.date }}</time>
        </a>
      </th>
      <td>
      {% for stop in item.data.stops %}
        <span>
          {%- unless forloop.first %}<svg width="1em" height="1em" focusable="false" aria-hidden="true"><use href="#_icon_{{ stop.icon }}"></use></svg> {% endunless -%}
          {{ stop.label }}, {{ stop.country_name }}
        </span><br>
      {% endfor %}
      </td>
      <td>{{ item.data.distance }}</td>
      <td>{{ item.data.co2 }}</td>
    </tr>
  {%- endfor -%}
  </tbody>
</table>
