<section class="trips s-linear" aria-labelledby="{{ id }}">
{%- if trips.size > 0 %}
  <table>
    <caption class="section__title" id="{{ id }}">{{ title }}</caption>
    <thead>
      <tr>
        <th>Date</th>
        <th>Trip</th>
        <th><abbr title="kilometers">km</abbr> /&nbsp;<abbr title="kilograms">kg</abbr></th>
      </tr>
    </thead>
    <tbody>
    {%- for item in trips -%}
      <tr>
        <th>
          <time datetime="{{ item.data.start }}">{{ item.data.start | date: dates.date_trip }}</time>
        </th>
        <td>
          <a rel="bookmark" href="{{ item.url }}">{{ item.data.title }}</a>
        </td>
        <td>{{ item.data.distance }} /&nbsp;{{ item.data.emissions }}</td>
      </tr>
    {%- endfor -%}
    </tbody>
  </table>
{%- else -%}
  <h2 class="section__title" id="{{ id }}">{{ title }}</h2>
  <p>No trips recorded.</p>
{%- endif -%}
</section>
