<flow-content aria-labelledby="{{ id }}">
{%- if trips.size > 0 %}
  <table>
    <caption id="{{ id }}">{{ title }}</caption>
    <thead>
      <tr>
        <th style="inline-size: 20%">Date</th>
        <th style="inline-size: 100%">Trip</th>
        <th style="inline-size: 15%"><abbr title="kilometers">km</abbr> /&nbsp;<abbr title="kilograms">kg</abbr></th>
      </tr>
    </thead>
    <tbody>
    {%- for item in trips -%}
      <tr>
        <th>{{ item.data | datetime }}</th>
        <td>
          <a rel="bookmark" href="{{ item.url }}">{{ item.data.title }}</a>
        </td>
        <td>{{ item.data.distance }} /&nbsp;{{ item.data.emissions }}</td>
      </tr>
    {%- endfor -%}
    </tbody>
  </table>
{%- endif -%}
</flow-content>
