<!doctype html>
<html lang="en-gb" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="{% if title != '' %}{{ title | markdownify: 'inline' | strip_html }}{% else %}{{ app.title }}{% endif %}">
  <meta property="og:description" name="description" content="{% if summary %}{{ summary | markdownify | strip_html | strip_newlines | strip }}{% else %}{{ app.description }}{% endif %}">
  <meta property="og:url" content="{{ bookmark }}">
  <meta property="og:image" content="{{ share_image }}">
{%- if image -%}
  <meta name="twitter:card" content="summary_large_image">
{%- else -%}
  <meta name="twitter:card" content="summary">
{%- endif -%}
  <meta name="twitter:site" content="@paulrobertlloyd">
  <meta name="theme-color" content="{{ app.theme_color }}">
  <meta name="supported-color-schemes" content="light dark">
  <meta name="monetization" content="$pay.stronghold.co/1a11cfb7e3eb2434a1aa726ff7aed69b9a4">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">

  <link rel="dns-prefetch" href="https://res.cloudinary.com">
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="RSS (Atom) Feed">
  <link rel="alternate" href="/feed.json" type="application/json" title="JSON Feed">
  <link rel="canonical" href="{% if canonical.url %}{{ canonical.url }}{% else %}{{ bookmark }}{% endif %}">
  <link rel="manifest" href="/app.webmanifest">
  <link rel="apple-touch-icon" href="{{ app.icon }}" type="image/png">
  <link rel="authorization_endpoint" href="{{ app.endpoint.auth }}">
  <link rel="token_endpoint" href="{{ app.endpoint.token }}">
  <link rel="micropub" href="{{ app.endpoint.micropub }}">
  <link rel="microsub" href="{{ app.endpoint.microsub }}">
  <link rel="webmention" href="{{ app.endpoint.webmention }}">
  <link rel="pgpkey" href="/key.txt">
  <link rel="me" href="https://mastodon.social/@paulrobertlloyd">
  <link rel="stylesheet" href="/assets/styles/app.css">

  <style>
    :root {
    {%- if style.color-accent -%}
      {%- assign accent = style.color-accent -%}
    {%- elsif date -%}
      {%- assign accent = date | colorify -%}
    {%- else -%}
      {%- assign accent = app.accent_color -%}
    {%- endif -%}
      --color-accent-light: {{ accent | contrastify: 'black' }};
      --color-accent-dark: {{ accent | contrastify: 'white' }};
    {%- for var in style -%}
      {%- unless var[0] == 'color-accent' -%}
      --{{ var[0]}}: {{ var[1] }};
      {%- endunless -%}
    {%- endfor -%}
    }
  </style>

  <script src="/assets/scripts/app.js" async></script>
  <script nonce="cGxsb3lk">
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/serviceworker.js');
      if (navigator.serviceWorker.controller) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.controller.postMessage({
            command: 'trimCaches'
          });
        });
      }
    }
  </script>

  <title>{% if type != 'homepage' %}{{ title | markdownify: 'inline' | strip_html }} – {% endif %}{{ app.title }}</title>
</head>
<body data-type="{{ type }}">
{%- render 'banner' -%}
<main class="main{% if vocab %} | {% for root in vocab %} h-{{ root }}{% endfor %}{% endif %}">
  <div class="main__container">
  {%- block 'main' -%}
    {{ layoutContent }}
  {%- endblock -%}
  </div>
</main>
{%- render 'contentinfo' -%}
</body>
</html>
