<!doctype html>
<html lang="{{ app.lang }}" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{%- if page_title %}{{ page_title }} · {% endif %}{{ app.name }}</title>

  <script nonce="bVgyaDV6YU9tdThnZ2wwckZBNnFnc1Z6Wk40SnY2U0pmbjdTUjQ3MVg2RTFCbnEwN3g=">
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/serviceworker.js');
      if (navigator.serviceWorker.controller) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.controller.postMessage({
            command: 'trimCaches'
          });
        });
      }
    }
  </script>

  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="RSS (Atom) Feed">
  <link rel="alternate" href="/feed.json" type="application/feed+json" title="JSON Feed">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="manifest" href="/app.webmanifest">
  <link rel="icon" href="/favicon.ico" sizes="32x32" type="image/x-icon">
  <link rel="icon" href="{{ app.icons[0].src }}" type="{{ app.icons[0].type }}">
  <link rel="apple-touch-icon" href="{{ app.icons[1].src }}" type="{{ app.icons[1].type }}">
  <link rel="authorization_endpoint" href="https://kit.paulrobertlloyd.com/auth">
  <link rel="token_endpoint" href="https://kit.paulrobertlloyd.com/auth/token">
  <link rel="indieauth-metadata" href="https://kit.paulrobertlloyd.com/auth/metadata">
  <link rel="micropub" href="https://kit.paulrobertlloyd.com/micropub">
  <link rel="microsub" href="https://aperture.p3k.io/microsub/32">
  <link rel="webmention" href="https://webmention.io/paulrobertlloyd.com/webmention">
  <link rel="pgpkey" href="/app.pgp">
  <link rel="stylesheet" href="/app.css">

  <style>
    :root {
    {% if accent_color -%}
      {%- assign accent_color = accent_color -%}
    {%- elsif date -%}
      {%- assign accent_color = date | color -%}
    {%- else -%}
      {%- assign accent_color = '#20e' -%}
    {%- endif -%}
      --color-accent: {{ accent_color }};
      --color-accent-with-contrast: {{ accent_color | contrast_with: 'black' }};
      @media (prefers-color-scheme: dark) {
        --color-accent-with-contrast: {{ accent_color | contrast_with: 'white' }};
      }
    }
  </style>

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" name="description" content="{{ summary | default: app.description | markdown | strip_html | strip_newlines | strip }}">
  <meta property="og:url" content="{{ page.url | absolute_url: app.url }}">
  <meta property="og:image" content="{{ summary_image | absolute_url: app.url }}">
  <meta property="og:image:alt" content="{{ summary_image_alt }}">
  <meta name="theme-color" content="{{ app.theme_color }}" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#26272b" media="(prefers-color-scheme: dark)">
  <meta name="supported-color-schemes" content="light dark">
  <meta name="robots" content="index, follow">
</head>

<body data-type="{{ type }}"{% if id %} id="{{ id }}"{% endif %}>
  {%- render 'skip-link' -%}
  {%- render 'banner', page: page, type: type -%}
  <main class="main{% for root in vocabulary %} h-{{ root }}{% endfor %}" id="main">
    <div class="main__container container">
      {{ content }}
    </div>
  </main>
  {%- render 'contentinfo', page: page, type: type -%}
</body>
</html>
