<!doctype html>
<html lang="{{ app.lang }}" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title | markdown: 'inline' | strip_html }}</title>

  <script nonce="bVgyaDV6YU9tdThnZ2wwckZBNnFnc1Z6Wk40SnY2U0pmbjdTUjQ3MVg2RTFCbnEwN3g=">
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/serviceworker.js');
      if (navigator.serviceWorker.controller) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.controller.postMessage({
            command: 'trimCaches'
          });
        });
      }
    }
  </script>

  <link rel="preconnect" href="https://kit.paulrobertlloyd.com">
  <link rel="dns-prefetch" href="https://kit.paulrobertlloyd.com">
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="RSS (Atom) Feed">
  <link rel="alternate" href="/feed.json" type="application/feed+json" title="JSON Feed">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="manifest" href="/app.webmanifest">
  <link rel="icon" href="{{ app.favicon | absolute_url: app.url }}">
  <link rel="apple-touch-icon" href="{{ app.icon | absolute_url: app.url }}">
  <link rel="authorization_endpoint" href="{{ app.endpoint.auth }}">
  <link rel="token_endpoint" href="{{ app.endpoint.token }}">
  <link rel="indieauth-metadata" href="{{ app.endpoint.indieauth }}">
  <link rel="micropub" href="{{ app.endpoint.micropub }}">
  <link rel="microsub" href="{{ app.endpoint.microsub }}">
  <link rel="webmention" href="{{ app.endpoint.webmention }}">
  <link rel="pgpkey" href="/key.txt">
  <link rel="stylesheet" href="/assets/styles/app.css">

  <style>
    :root {
    {% if accent_color -%}
      {%- assign accent_color = accent_color -%}
    {%- elsif date -%}
      {%- assign accent_color = date | color -%}
    {%- else -%}
      {%- assign accent_color = app.accent_color -%}
    {%- endif -%}
      --color-accent-light: {{ accent_color | contrast_with: 'black' }};
      --color-accent-dark: {{ accent_color | contrast_with: 'white' }};
    {%- for var in style -%}
      --{{ var[0]}}: {{ var[1] }};
    {%- endfor -%}
    }
  </style>

  <meta property="og:title" content="{{ title | markdown: 'inline' | strip_html }}">
  <meta property="og:description" name="description" content="{{ summary | default: app.description | markdown | strip_html | strip_newlines | strip }}">
  <meta property="og:url" content="{{ page.url | absolute_url: app.url }}">
  <meta property="og:image" content="{{ summary_image | absolute_url: app.url }}">
  <meta property="og:image:alt" content="{{ summary_image_alt }}">
  <meta name="twitter:card" content="{{ summary_card }}">
  <meta name="twitter:site" content="@paulrobertlloyd">
  <meta name="theme-color" content="{{ app.theme_color }}" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="{{ app.theme_color_dark }}" media="(prefers-color-scheme: dark)">
  <meta name="supported-color-schemes" content="light dark">
  <meta name="robots" content="index, follow">
</head>

<body data-type="{{ type | default: layout }}">
  {%- render 'skip-link' -%}
  {%- render 'icons' -%}
  {%- render 'banner', page: page, tags: tags -%}
  <main class="main{% if vocab %} | {% for root in vocab %} h-{{ root }}{% endfor %}{% endif %}" id="main">
    <div class="main__container container">
    {%- block 'main' -%}
      {{ layoutContent }}
    {%- endblock -%}
    </div>
  </main>
  {%- render 'contentinfo', page: page, tags: tags -%}
</body>
</html>
