<!doctype html>
<html lang="{{ app.lang }}" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{%- if pageTitle %}{{ pageTitle }} · {% endif %}{{ app.name }}</title>

  <script nonce="bVgyaDV6YU9tdThnZ2wwckZBNnFnc1Z6Wk40SnY2U0pmbjdTUjQ3MVg2RTFCbnEwN3g=">
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register("/serviceworker.js");
      if (navigator.serviceWorker.controller) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.controller.postMessage({
            command: "trimCaches"
          });
        });
      }
    }
  </script>

  <style>
    :root {
      --color-accent: {{ color }};
    }
  </style>

  <link rel="stylesheet" href="/app.css">
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="RSS (Atom) Feed">
  <link rel="alternate" href="/feed.json" type="application/feed+json" title="JSON Feed">
  <link rel="canonical" href="{{ canonicalUrl }}">
  <link rel="manifest" href="/app.webmanifest">
  <link rel="icon" href="{{ app.icons[0].src }}" type="{{ app.icons[0].type }}">
  <link rel="authorization_endpoint" href="https://kit.paulrobertlloyd.com/auth">
  <link rel="token_endpoint" href="https://kit.paulrobertlloyd.com/auth/token">
  <link rel="indieauth-metadata" href="https://kit.paulrobertlloyd.com/auth/metadata">
  <link rel="micropub" href="https://kit.paulrobertlloyd.com/micropub">
  <link rel="microsub" href="https://aperture.p3k.io/microsub/32">
  <link rel="webmention" href="https://webmention.io/paulrobertlloyd.com/webmention">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" name="description" content="{{ summary | default: app.description | markdown | strip_html | strip_newlines | strip }}">
  <meta property="og:url" content="{{ page.url | absolute_url: app.url }}">
  <meta property="og:image" content="{{ featuredImage | replace: '/media', '/images/og' | absolute_url: app.url }}">
  <meta property="og:image:alt" content="{{ featuredImageAlt }}">
  <meta name="theme-color" content="{{ app.theme_color }}" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#26272b" media="(prefers-color-scheme: dark)">
  <meta name="supported-color-schemes" content="light dark">
  <meta name="robots" content="index, follow">
</head>

<body {%- if id %} id="{{ id }}"{% endif %}>
  {% render "skip-link" %}

  {% render "banner", page: page, type: type %}

  <main class="main container{% for root in vocabulary %} h-{{ root }}{% endfor %}" id="main">
    {{ content }}
  </main>

  {% render "contentinfo", page: page, type: type %}
</body>
</html>
