{%- layout 'default' -%}
{%- block 'main' -%}
  {%- include 'footer-event' -%}
  {%- include 'header' -%}
  {%- capture content -%}
    {%- if url contains 'imdb.com' -%}
      {%- assign imdb_id = url | remove: 'https://www.imdb.com/title/' | remove: '/' -%}
      {%- capture image %}https://img.omdbapi.com/?apikey={{ app.token.ombdapi }}&i={{ imdb_id }}&h=560{% endcapture -%}
      {%- assign alt = title | prepend: 'Poster for ' -%}
      {%- include 'image'
        image_preset: 'thumbnail'
        image_class: 'align-start'
      -%}
    {%- endif -%}
    {{ content }}
  {%- endcapture -%}
  {%- include 'content' -%}

  {%- if collection -%}
    {% for this_collection in collection %}
      {%- assign related = collections.collection | where: 'fileSlug',this_collection | first -%}
      {%- capture section_title %}Other events in the <a href="{{ related.url }}">{{ related.data.title }}</a> series{%- endcapture -%}
      {%- assign events = collections.event | includes: 'data.collection',this_collection | reject: 'url',page.url | reverse -%}
      {%- if events.size > 0 %}
        {%- include 'section'
          section_id: 'related'
          items: events
          item_modifier: 'inline'
        -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endblock -%}
