{%- assign venueid = tags[1] | remove: 'venue:' -%}
{%- assign venue = venues | where: 'fileSlug',venueid | first -%}
{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer-event'
    date: date
    start: start
    end: end
    venue: venue
  -%}
  {%- render 'header'
    title: title
    summary: summary
    url: url
  -%}
  {%- capture content -%}
    {%- if url contains 'imdb.com' -%}
      {%- assign imdb_id = url | remove: 'https://www.imdb.com/title/' | remove: '/' -%}
      {%- capture image %}https://img.omdbapi.com/?apikey={{ app.token.ombdapi }}&i={{ imdb_id }}&h=560{% endcapture -%}
      {%- assign alt = title | prepend: 'Poster for ' -%}
      {%- render 'image' with image
        class: 'align-start'
        preset: 'thumbnail'
      -%}
    {%- endif -%}
    {{ content }}
  {%- endcapture -%}
  {%- render 'content' with content -%}

  {%- if collection -%}
    {% for this_collection in collection %}
      {%- assign related = collections.collection | where: 'fileSlug',this_collection | first -%}
      {%- capture title %}Other events in the <a href="{{ related.url }}">{{ related.data.title }}</a> series{%- endcapture -%}
      {%- assign events = collections.event | related: this_collection,page | reverse -%}
      {%- if events.size > 0 %}
        {%- render 'section' with events
          id: 'related'
          title: title
          item_modifier: 'inline'
        -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endblock -%}
