{%- assign related = collections.itinerary | includes: 'data.trip_id',uid | first -%}
{%- assign formattedTitle = title | replace: ' ➔ ','\n➔ ' -%}
{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer'
    date: start
  -%}
  {%- render 'header'
    title: formattedTitle
    summary: summary
    vocab: vocab
  -%}
  {%- capture content -%}
    <p>Part of a journey to <a href="{{ related.url }}">{{ related.data.title }}</a>.</p>
    {%- capture caption -%}
      {%- for stop in stops -%}
        {%- unless forloop.first %}<svg width="1em" height="1em" focusable="false" aria-hidden="true"><use href="#_icon_{{ stop.icon }}"></use></svg> {% endunless -%}
        {{ stop.label }}, {{ stop.country_name }}<br>
      {%- endfor -%}
    {%- endcapture -%}
    {%- render 'map'
      geojson: geojson
      position: position
      caption: caption
      alignment: 'bleed'
    -%}
    {{ trip.content | markdown }}
  {%- endcapture -%}
  {%- render 'content' with content -%}
{%- endblock -%}
