---
eleventyComputed:
  title: "{{ itinerary | trip_title }}"
  summary: "A trip of {{ distance }} km that emitted roughly {{ emissions }} kg of CO₂."
  distance: "{{ itinerary | trip_distance }}"
  emissions: "{{ itinerary | trip_emissions: distance }}"
---
{%- assign related = collections.itinerary | includes: 'data.trip_id',id | first -%}
{%- assign formattedTitle = title | replace: ' ➔ ','\n➔ ' -%}
{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer'
    date: start
  -%}
  {%- render 'header'
    title: formattedTitle
    summary: summary
    vocabulary: vocabulary
  -%}
  {%- capture content -%}
    <p>Part of a journey to <a href="{{ related.url }}">{{ related.data.title }}</a>.</p>
    {%- capture caption -%}
      {%- render 'itinerary' with itinerary -%}
    {%- endcapture -%}
    {%- render 'map' with geojson
      alignment: 'bleed',
      caption: caption
    -%}
    {{ trip.content | markdown }}
  {%- endcapture -%}
  {%- render 'content' with content -%}
{%- endblock -%}
