{%- assign tag = page.fileSlug | prepend: 'venue:' -%}
{%- assign geo = page.data.geo -%}
{%- assign events = collections.event | includes: 'data.tags',tag | reverse -%}
{%- assign title = page.data.title -%}
{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'header'
    title: title
    url: page.data.url
  -%}
  {%- capture content -%}
    <figure class="align-bleed">
      <a href="https://duckduckgo.com/?q={{ geo.latitude }},{{ geo.longitude }}&iaxm=places">
        {%- capture overlay -%}
          pin-l+{{ app.accent_color | remove: '#' }}({{ geo.longitude }},{{ geo.latitude }})
        {%- endcapture -%}
        {%- capture position -%}
          {{ geo.longitude }},{{ geo.latitude }},15,0.00,0.00
        {%- endcapture -%}
        {%- render 'map'
          overlay: overlay
          position: position
        -%}
      </a>
      <figcaption>
        {%- render 'address' with page.data.address -%}
      </figcaption>
    </figure>
    {{ page.data.content | markdownify }}
    {% if page.data.former-names %}
      <p>Formerly known as: {{ page.data.former-names | join:", " }}.</p>
    {% endif %}
  {%- endcapture -%}
  {%- render 'content' with content -%}
  {%- render 'section' with events
    id: 'events'
    title: 'Events at this venue'
    item_modifier: 'inline'
  -%}
{%- endblock -%}
