{%- assign tag = page.fileSlug | prepend: 'venue:' -%}
{%- assign geo = page.fileSlug | decodePluscode -%}
{%- assign items = collections.all | includes: 'data.tags',tag | reverse -%}
{%- layout 'default' -%}
{%- block 'main' -%}
  {%- include 'header' -%}
  {%- capture content -%}
    {%- capture overlay -%}
      pin-l+{{ app.accent_color | remove: '#' }}({{ geo.longitude }},{{ geo.latitude }})
    {%- endcapture -%}
    {%- capture parameters -%}
      {{ overlay | strip }}/{{ geo.longitude }},{{ geo.latitude }},14,0.00,0.00/1200x320@2x?access_token={{ app.token.mapbox }}
    {%- endcapture -%}
    <figure class="align-bleed">
      <a href="https://duckduckgo.com/?q={{ geo.latitude }},{{ geo.longitude }}&iaxm=places">
        <picture>
          <source media="(prefers-color-scheme: dark)" srcset="https://api.mapbox.com/styles/v1/mapbox/dark-v10/static/{{ parameters | strip }}">
          <img src="https://api.mapbox.com/styles/v1/mapbox/outdoors-v10/static/{{ parameters | strip }}">
        </picture>
      </a>
      <figcaption>
        {%- include 'address' -%}
      </figcaption>
    </figure>
    {{ content }}
  {%- endcapture -%}
  {%- include 'content' -%}
  {%- include 'section'
    section_id: 'events'
    section_title: 'Events at this venue'
    items: items
    item_modifier: 'inline'
  -%}
{%- endblock -%}
