{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'header'
    title: title
    url: url
    vocab: vocab
  -%}
  {%- capture content -%}
    <figure class="align-bleed">
      <a href="https://duckduckgo.com/?q={{ geo.latitude }},{{ geo.longitude }}&iaxm=places">
        {%- capture overlay -%}
          pin-l+{{ app.accent_color | remove: '#' }}({{ page.data.geo.longitude }},{{ page.data.geo.latitude }})
        {%- endcapture -%}
        {%- capture position -%}
          {{ page.data.geo.longitude }},{{ page.data.geo.latitude }},15,0.00,0.00
        {%- endcapture -%}
        {%- render 'map'
          overlay: overlay
          position: position
        -%}
      </a>
      <figcaption>
        {%- render 'address' with address -%}
      </figcaption>
    </figure>
    {{ content | markdown }}
  {%- endcapture -%}
  {%- render 'content' with content -%}
  {%- assign events = collections.event | includes: 'data.venue',page.fileSlug | reverse -%}
  {%- render 'section' with events
    id: 'events'
    title: 'Other events at this venue'
    item_modifier: 'inline'
    hide_summary: true
  -%}
{%- endblock -%}
