---
layout: index
title: Trips
permalink: trips/
eleventyComputed:
  introduction: "Over the course of {{ trips | size }} trips, I’ve travelled {{ trips | sum: 'distance' }} km and emitted approximately {{ trips | sum: 'co2' }} kg of CO<sub>2</sub>."
---
{%- assign totalKm = trips | sum: 'distance' -%}
{%- assign totalCo2 = trips | sum: 'co2' -%}
{%- assign meanKm = totalKm | divided_by: 13 -%}
{%- assign meanCo2 = totalCo2 | divided_by: 13 -%}
{%- assign now = 'now' | date: '%Y' -%}
<table class="barchart">
  <caption class="barchart__caption"><abbr title="kilometers">km</abbr> travelled / <abbr title="kilograms">kg</abbr> CO<sub>2</sub></caption>
  <tbody class="barchart__items">
  {%- for year in (2003..now) -%}
    <tr class="barchart__item">
      {%- assign thisYear = trips | includes: 'date',year -%}
      {%- assign yearKm = thisYear | sum: 'distance' -%}
      {%- assign scaleKm = yearKm | percentage_of: meanKm | divided_by: 2 -%}
      {%- assign yearCo2 = thisYear | sum: 'co2' -%}
      {%- assign scaleCo2 = yearCo2 | percentage_of: meanCo2 | divided_by: 2 -%}
      <td class="barchart__key">
        {{ year | replace_first: '20','' }}
      </td>
      <td class="barchart__value">
        <a href="#{{ year }}">
          <data style="--chart-size: {{ scaleKm }}%;" value="{{ yearKm }}">
            <span class="barchart__value-label">{{ yearKm }} km</span>
          </data>
          <span class="visually-hidden">/</span>
          <data style="--chart-size: {{ scaleCo2 }}%;" value="{{ yearCo2 }}">
            <span class="barchart__value-label">{{ yearCo2 }} kg</span>
          </data>
        </a>
      </td>
    </tr>
  {%- endfor -%}
  </tbody>
</table>

{%- for year in (2003..now) reversed -%}
  {%- assign thisYear = collections.trip | includes: 'data.trip.date',year | reverse -%}
  {%- render 'section-trips' with thisYear
    id: year
    title: year
  -%}
{%- endfor -%}
