---
layout: index.liquid
title: Trips
summary: Individual trips by air, rail and sea.
permalink: trips/
tags:
  - archive
---
{%- assign totalKm = collections.trip | sum: 'data.distance' -%}
{%- assign totalCo2 = collections.trip | sum: 'data.emissions' -%}
{%- assign meanKm = totalKm | divided_by: 13 -%}
{%- assign meanCo2 = totalCo2 | divided_by: 13 -%}

<flow-content>
  <p>Over the course of {{ collections.trip | size }} trips, I’ve travelled {{ totalKm }} km and emitted approximately {{ totalCo2 }} kg of CO<sub>2</sub>.</p>
</flow-content>

<table class="barchart">
  <caption class="barchart__caption"><abbr title="kilometers">km</abbr> travelled / <abbr title="kilograms">kg</abbr> CO<sub>2</sub></caption>
  <tbody class="barchart__items">
  {%- for year in (2003..currentYear) -%}
    <tr class="barchart__item">
      {%- assign thisYear = collections.trip | where: 'data.year',year -%}
      {%- assign yearKm = thisYear | sum: 'data.distance' -%}
      {%- assign scaleKm = yearKm | percentage_of: meanKm | divided_by: 2 -%}
      {%- assign yearCo2 = thisYear | sum: 'data.emissions' -%}
      {%- assign scaleCo2 = yearCo2 | percentage_of: meanCo2 | divided_by: 2 -%}
      <td class="barchart__key">
        <span class="barchart__key-label">{{ year }}</span>
      </td>
      <td class="barchart__value">
        <a href="#{{ year }}">
          <data style="--chart-size: {{ scaleKm }}%;" value="{{ yearKm }}">
            <span class="barchart__value-label">{{ yearKm }} km</span>
          </data>
          <span class="visually-hidden">/</span>
          <data style="--chart-size: {{ scaleCo2 }}%;" value="{{ yearCo2 }}">
            <span class="barchart__value-label">{{ yearCo2 }} kg</span>
          </data>
        </a>
      </td>
    </tr>
  {%- endfor -%}
  </tbody>
</table>

{%- for year in (2003..currentYear) reversed -%}
  {%- assign thisYear = collections.trip | where: 'data.year',year -%}
  {%- render 'trips' with thisYear
    id: year
    title: year
  -%}
{%- endfor -%}
