---
layout: index.liquid
title: Trips
permalink: trips/
eleventyComputed:
  introduction: "Over the course of {{ collections.trip | size }} trips, I’ve travelled {{ collections.trip | sum: 'data.distance' }} km and emitted approximately {{ collections.trip | sum: 'data.emissions' }} kg of CO<sub>2</sub>."
---
{%- assign now = 'now' | date: '%Y' -%}
<trips-chart class="s-linear">
  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th><abbr title="kilometers">km</abbr> travelled</th>
        <th><abbr title="kilograms">kg</abbr> CO₂</th>
      </tr>
    </thead>
    <tbody>
    {%- for year in (2003..now) -%}
      {%- assign thisYear = collections.trip | includes: 'date',year -%}
      <tr>
        <th>{{ year }}</th>
        <td>{{ thisYear | sum: 'data.distance' }}</td>
        <td>{{ thisYear | sum: 'data.emissions' }}</td>
      </tr>
    {%- endfor -%}
    </tbody>
  </table>
</trips-chart>
<script src="/assets/scripts/trips-chart.js" type="module"></script>

{%- for year in (2003..now) reversed -%}
  {%- assign thisYear = collections.trip | includes: 'data.start',year -%}
  {%- render 'trips' with thisYear
    id: year
    title: year
  -%}
{%- endfor -%}
