<article class="item item--{{ modifier | default: 'block' }} | h-entry" data-type="bookmark">
  <header class="item__header">
    <h3 class="item__title | p-name">
      <a href="{{ item.url }}">{{ item.data.title | markdownify: 'inline' }}</a>
    </h3>
  </header>

  <p class="item__main s-linear">
    <a class="u-bookmark-of" rel="external" href="{{ item.data.url }}">{{ item.data.url | hostname }}</a>
  </p>

  <footer class="item__footer">
    <a class="u-url" rel="bookmark" href="{{ item.url }}" tabindex="-1">
      <time class="dt-published" datetime="{{ item.data.date | date: dates.iso }}" aria-label="{{ item.data.date | date: dates.date_long }}">{{ item.data.date | date: dates.date_short }}</time>
    </a>
  </footer>
</article>
