{%- assign date_color = item.data.date | color -%}
{%- assign accent_color = item.data.accent_color | default: date_color -%}
<article class="card |{% for root in item.data.vocabulary %} h-{{ root }}{% endfor %}"{% if item.data.duotoneCardImage %} style="--color-accent: {{ accent_color }}"{% endif %}>
  {%- if item.data.type == 'photo' -%}
    <a class="card__image card__image--photo | u-url" rel="bookmark" href="{{ item.url }}">
      {%- assign photo = item.data.photo | first -%}
      {%- app_image photo, 'card-square', 'u-photo' -%}
      {%- if item.data.photo.size > 1 -%}
        {%- assign label = " photos in this post" | prepend: item.data.photo.size -%}
        {%- app_icon 'photos' 20 label -%}
      {%- endif -%}
    </a>
  {%- else -%}
    {%- if item.data.featured.url -%}
      <div class="card__image">
        {%- app_image item.data.featured, 'card', 'u-featured' -%}
      </div>
    {%- endif -%}

    <header class="card__header">
      <h3 class="card__title | p-name">
        <a class="u-url" rel="bookmark" href="{{ item.url }}">
          {%- app_icon item.data.icon -%}
          {{- item.data.title | markdown: 'inline' -}}
        </a>
      </h3>
    </header>

    {%- if item.data.summary -%}
      <div class="card__main s-linear | p-summary">
        {{ item.data.summary | markdown }}
      </div>
    {%- endif -%}
  {%- endif -%}

  {%- if item.data.type != 'project' and hideFooter != true -%}
    <footer class="card__footer">
      {{ item.data | datetime }}
    </footer>
  {%- endif -%}
</article>
