<article class="card |{% for root in item.data.vocabulary %} h-{{ root }}{% endfor %}" id="{{ item.data.id }}" data-type="{{ item.data.type }}" style="--item-accent-color: {{ item.data.accent_color }}">
  {%- app_image item.data.photo[0], "card", "u-photo" -%}
  {%- app_image item.data.featured, "card", "u-featured" -%}

{%- if item.data.title -%}
  <header>
    <h3 class="p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {{- item.data.title | markdown: "inline" -}}
      </a>
    </h3>
  </header>
{%- endif -%}

{%- if item.data.summary -%}
  <flow-content>
    <p class="p-summary">{{ item.data.summary | markdown: "inline" }}</p>
  </flow-content>
{%- endif -%}

{%- if item.data.date or item.data.start -%}
  <footer>
{%- if item.data.title -%}
    {%- datetime item.data true -%}
{%- else -%}
    <a class="u-url" rel="bookmark" href="{{ item.url }}">
      {%- datetime item.data true -%}
    </a>
{%- endif -%}
    {%- app_icon item.data.icon item.data.icon_label -%}
  </footer>
{%- endif -%}
</article>
