{%- assign date_color = item.data.date | color -%}
{%- assign accent_color = item.data.accent_color | default: date_color -%}
<article class="card |{% for root in item.data.vocabulary %} h-{{ root }}{% endfor %}"{% if item.data.duotoneCardImage %} style="--color-accent: {{ accent_color }}"{% endif %}>
  {%- if item.data.type == 'photo' -%}
    <a class="u-url" rel="bookmark" href="{{ item.url }}">
      {%- assign photo = item.data.photo | first -%}
      {%- app_image photo, 'card-square', 'card__photo u-photo' -%}
      {%- if item.data.photo.size > 1 -%}
        {%- assign label = " photos in this post" | prepend: item.data.photo.size -%}
        {%- app_icon 'photos' 20 label -%}
      {%- endif -%}
    </a>
  {%- else -%}
    {%- if item.data.featured.url -%}
      {%- app_image item.data.featured, 'card', 'u-featured' -%}
    {%- endif -%}

    <header>
      <h3 class="p-name">
        <a class="u-url" rel="bookmark" href="{{ item.url }}">
          {%- app_icon item.data.icon -%}
          {{- item.data.title | markdown: 'inline' -}}
        </a>
      </h3>
    </header>

    {%- if item.data.summary -%}
      <flow-content>
        <p class="p-summary">{{ item.data.summary | markdown: 'inline' }}</p>
      </flow-content>
    {%- endif -%}
  {%- endif -%}

  <footer>
    {%- datetime item.data -%}
  </footer>
</article>
