<article class="card |{% for root in item.data.vocabulary %} h-{{ root }}{% endfor %}" id="{{ item.data.id }}" data-type="{{ item.data.type }}" style="--color-accent-item: {{ item.data.color }}">
{%- if item.data.featured -%}
  <img class="u-featured" src="{{ item.data.featured.url | mediaPath }}" alt="{{ item.data.featured.alt }}" eleventy:widths="240,480">
{%- elsif item.data.photo -%}
  <img class="u-photo" src="{{ item.data.photo[0].url | mediaPath }}" alt="{{ item.data.photo[0].alt }}" eleventy:widths="240,480">
{%- endif -%}

{%- if item.data.title -%}
  <header>
    <h3 class="p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {{- item.data.title | markdown: "inline" -}}
      </a>
    </h3>
  </header>
{%- endif -%}

{%- if item.data.summary -%}
  <p class="p-summary">{{ item.data.summary | markdown: "inline" }}</p>
{%- endif -%}

{%- if item.data.date or item.data.start -%}
  <footer>
{%- if item.data.start -%}
    {%- duration item.data.start item.data.end -%}
{%- elsif item.data.title -%}
    {%- published item.data.published item.data.timeZone true -%}
{%- else -%}
    <a class="u-url" rel="bookmark" href="{{ item.url }}">
      {%- published item.data.published item.data.timeZone true -%}
    </a>
{%- endif -%}
    {%- app_icon item.data.icon item.data.iconLabel -%}
  </footer>
{%- endif -%}
</article>
