{%- assign date_color = item.data.date | color -%}
{%- assign card_accent = item.data.style.color-accent | default: date_color -%}
<article class="card |{% for root in item.data.vocab %} h-{{ root }}{% endfor %}" style="--color-accent-light: {{ card_accent | contrast_with: 'black' }}; --color-accent-dark: {{ card_accent | contrast_with: 'white' }}">
{%- if item.data.image -%}
  <div class="card__image"{%- if item.data.layout != 'project' %} style="--image-color: var(--color-accent)"{% endif %}>
    {%- assign ratio = card_image_ratio | default: 1.5 -%}
    {%- render 'image' with item.data.image
      ratio: ratio
      sizes: grid_size
    -%}
  </div>
{%- endif -%}

  <header class="card__header">
    <h3 class="card__title | p-name">
      <a href="{{ item.url }}">{{ item.data.title | markdown: 'inline' }}</a>
    </h3>
  </header>

{%- if item.data.summary -%}
  <div class="card__main s-linear | p-summary">
    {{ item.data.summary | markdown }}
  </div>
{%- endif -%}

{%- if item.data.layout != 'project' -%}
  <footer class="card__footer">
    <a class="u-url" rel="bookmark" href="{{ item.url }}" tabindex="-1">
      <time class="dt-published" datetime="{{ item.data.date | date: dates.iso }}">{{ item.data.date | date: dates.date_long }}</time>
    </a>
  </footer>
{%- endif -%}
</article>
