{%- assign date_color = item.data.date | color -%}
{%- assign accent_color = item.data.accent_color | default: date_color -%}
<article class="card |{% for root in item.data.vocabulary %} h-{{ root }}{% endfor %}"{% if item.data.duotoneCardImage %} style="--color-accent-light: {{ accent_color | contrast_with: 'black' }}; --color-accent-dark: {{ accent_color | contrast_with: 'white' }}"{% endif %}>
  {%- if item.data.layout == 'photo' -%}
    <a class="card__image card__image--photo | u-url" rel="bookmark" href="{{ item.url }}">
      {%- image item.data.page_image, 'card-square', 'u-photo' -%}
      {%- if item.data.photo.size > 1 -%}
        {% assign label = " photos in this post" | prepend: item.data.photo.size %}
        {% icon "photos" 20 label %}
      {%- endif -%}
    </a>
  {%- else -%}
    {%- if item.data.page_image -%}
      <div class="card__image">
        {%- image item.data.page_image, 'card', 'u-photo' -%}
      </div>
    {%- endif -%}

    <header class="card__header">
      <h3 class="card__title | p-name">
        <a class="u-url" rel="bookmark" href="{{ item.url }}">{{ item.data.title | markdown: 'inline' }}</a>
      </h3>
    </header>

    {%- if item.data.summary -%}
      <div class="card__main s-linear | p-summary">
        {{ item.data.summary | markdown }}
      </div>
    {%- endif -%}

    {%- if item.data.layout != 'project' -%}
      <footer class="card__footer">
        <time class="dt-published" datetime="{{ item.date | date }}">{{ item.date | date: dates.date }}</time>
      </footer>
    {%- endif -%}
  {%- endif -%}
</article>
