<article class="item item--comment | p-comment h-cite" id="comment-{{ id }}">
  <header class="item__header">
    <h3 class="item__title | p-author h-card">
      {%- if item.author.url %}<a class="u-url" href="{{ item.author.url }}" target="_blank" rel="noopener noreferrer">{% endif -%}
        <span class="p-name">{{ item.author.name | default: 'Anonymous' }}</span>
        <img class="avatar u-photo" src="{{ item.author.photo }}?s=120" alt="" decoding="async" loading="lazy" height="80" width="80">
      {%- if item.author.url %}</a>{% endif -%}
    </h3>
  </header>

  <div class="item__main s-linear | p-summary">
    {{ item.content.value | default: item.content | markdown }}
  </div>

  <footer class="item__footer">
    <a class="u-url" rel="bookmark" href="#comment-{{ id }}">
      {% datetime item.published %}
    </a>
  </footer>
</article>
