<article class="item | h-entry" id="{{ item.data.id }}">
{%- if item.data.title -%}
  <header class="item__header">
    <h3 class="item__title | p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">{{ item.data.title | markdown: 'inline' }}</a>
    </h3>
  </header>
{%- endif -%}

{%- if item.data.jam_of -%}
  <flow-content class="item__main">
    {%- render 'jam' with item.data.jam_of -%}
  </flow-content>
{%- elsif item.data.summary -%}
  <flow-content class="item__main | p-summary">
    {{ item.data.summary | markdown }}
  </flow-content>
{%- elsif item.content -%}
  <flow-content class="item__main | e-content p-name">
    {{ item.content }}
  </flow-content>
{%- endif -%}

{%- if item.data.date -%}
  <footer class="item__footer">
{%- if item.data.title -%}
    {{ item.data | datetime }}
{%- else -%}
    <a class="u-url" rel="bookmark" href="{{ item.url }}">
      {{ item.data | datetime }}
    </a>
{%- endif -%}
  </footer>
{%- endif -%}
</article>
