{%- assign includePermalink = item.data.bookmarkOf or not item.data.title -%}
<article class="item | h-entry" data-type="{{ item.data.type }}" style="--color-accent-item: {{ item.data.color }}; --columns: 6">
{%- if item.data.title -%}
  <header>
    <h3 class="p-name">
    {%- if item.data.bookmarkOf -%}
      <a class="u-bookmark-of" rel="external" href="{{ item.data.bookmarkOf }}">
        {{- item.data.title | markdown: "inline" -}}
      </a>
    {%- else -%}
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {{- item.data.title | markdown: "inline" -}}
      </a>
    {%- endif -%}
    </h3>
  </header>
{%- endif -%}

{%- if item.data.summary -%}
  <p class="p-summary">{{ item.data.summary | markdown: "inline" }}</p>
{%- elsif item.content -%}
  <flow-content class="e-content p-name">
    {{ item.content }}
  </flow-content>
{%- endif -%}

{%- if item.data.date or item.data.start -%}
  <footer>
    {%- if includePermalink -%}
    <a class="u-url" rel="bookmark" href="{{ item.url }}">
      {%- datetime item.data item.data.title -%}
    </a>
    {%- else -%}
      {%- datetime item.data item.data.title -%}
    {%- endif -%}
    {%- app_icon item.data.icon item.data.iconLabel -%}
  </footer>
{%- endif -%}
</article>
