<article class="item | h-event" id="{{ item.data.id }}">
  <header class="item__header">
    <h3 class="item__title | p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {% if item.data.icon != "" %}{% icon item.data.icon %}{% endif %}
        {{ item.data.title | markdown: 'inline' }}
      </a>
    </h3>
  </header>

{%- if item.data.location.name -%}
  <div class="item__main s-linear | p-location">
    <p class="h-card">
      at <span class="p-name">{{ item.data.location.name }}</span>
      {%- if item.data.location.locality %}, <span class="p-adr h-adr p-locality">{{ item.data.location.locality }}</span>{% endif %}
    </p>
  </div>
{%- endif -%}

  <footer class="item__footer">
    <time class="dt-published" datetime="{{ item.data.start | date }}">{{ item.data.start | date: dates.date }}</time>
    <time class="dt-start" datetime="{{ item.data.start | date }}"></time>
    <time class="dt-end" datetime="{{ item.data.end | date }}"></time>
  </footer>
</article>
