<article class="item | h-event" data-type="{{ item.data.type }}" style="--color-accent-item: {{ item.data.color }}">
  <header>
    <h3 class="p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {{- item.data.title | markdown: "inline" -}}
      </a>
    </h3>
  </header>

  <p class="p-location h-card">
{%- if item.data.location.name -%}
    <span class="p-name">{{ item.data.location.name }}</span>,
{%- endif %}
    {% adr item.data %}
  </p>

  <footer>
    {%- datetime item.data -%}
    {%- app_icon item.data.icon item.data.iconLabel -%}
  </footer>
</article>
