<article class="item | h-event" data-type="{{ item.data.type }}" style="--item-accent-color: {{ item.data.accent_color }}">
  <header>
    <h3 class="p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {{- item.data.title | markdown: "inline" -}}
      </a>
    </h3>
  </header>

  <flow-content class="p-location">
    <p class="h-card">
{%- if item.data.location.name -%}
      <span class="p-name">{{ item.data.location.name }}</span>,
{%- endif %}
      {% adr item.data %}
    </p>
  </flow-content>

  <footer>
    {%- datetime item.data -%}
    {%- app_icon item.data.icon item.data.icon_label -%}
  </footer>
</article>
