{%- assign venueid = item.data.tags[1] | remove: 'venue:' -%}
{%- assign venue = venues | where: 'fileSlug',venueid | first -%}
<article class="item item--{{ modifier | default: 'block' }} | h-entry h-event" data-type="event">
  <header class="item__header">
    <h3 class="item__title | p-name">
      <a href="{{ item.url | pretty }}">{{ item.data.title | markdownify: 'inline' }}</a>
      {% if item.data.url contains 'imdb.com' %}
        <svg class="item__title-icon" width="16" height="16" viewBox="0 0 32 32" aria-label="(Film)" focusable="false">
          <path fill="currentColor" d="M31 0v32H1V0h30zM6 27H3v3h3v-3zm23 0h-3v3h3v-3zM6 22H3v3h3v-3zm23 0h-3v3h3v-3zM6 17H3v3h3v-3zm23 0h-3v3h3v-3zM6 12H3v3h3v-3zm23 0h-3v3h3v-3zM6 7H3v3h3V7zm23 0h-3v3h3V7zM6 2H3v3h3V2zm23 0h-3v3h3V2zm-5 13V2H8v13h16zm0 15V17H8v13h16z"/>
        </svg>
      {% endif %}
    </h3>
  </header>

{%- if venueid != 'tbd' -%}
  <p class="item__main s-linear | h-card">
    <a class="p-name" href="{{ venue.url | pretty }}">{{ venue.data.title | markdownify: 'inline' }}</a>
  </p>
{%- endif -%}

  <footer class="item__footer">
    <a class="u-url" rel="bookmark" href="{{ item.url | prepend: app.url | pretty }}" tabindex="-1">
      <time class="dt-published" datetime="{{ item.data.date | date: dates.iso }}" aria-label="{{ item.data.date | date: dates.date_long }}">{{ item.data.date | date: dates.date_short }}</time>
    </a>
  </footer>
</article>
