<article class="item | h-event" id="{{ item.data.id }}">
  <header class="item__header">
    <h3 class="item__title | p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {%- icon item.data.icon -%}
        {{- item.data.title | markdown: 'inline' -}}
      </a>
    </h3>
  </header>

{%- if item.data.location.name != "false" -%}
  <div class="item__main s-linear | p-location">
    <p class="h-card">
      at <span class="p-name">{{ item.data.location.name }}</span>
      {%- if item.data.location.locality %}, <span class="p-adr h-adr p-locality">{{ item.data.location.locality }}</span>{% endif %}
    </p>
  </div>
{%- endif -%}

  <footer class="item__footer">
    {% datetime item.data.published item.data.start item.data.end %}
  </footer>
</article>
