<article class="item | h-event" id="{{ item.data.id }}">
  <header class="item__header">
    <h3 class="item__title | p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {%- app_icon item.data.icon -%}
        {{- item.data.title | markdown: 'inline' -}}
      </a>
    </h3>
  </header>

{%- if item.data.location.name != "false" -%}
  <flow-content class="item__main | p-location">
    <p class="h-card">
      at <span class="p-name">{{ item.data.location.name }}</span>,
      {{ item.data | adr }}
    </p>
  </flow-content>
{%- endif -%}

  <footer class="item__footer">
    {{ item.data | datetime }}
  </footer>
</article>
