<article class="item | h-event">
  <header class="item__header">
    <h3 class="item__title | p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {% if item.data.icon != "" %}<svg width="1em" height="1em" focusable="false" aria-hidden="true"><use href="#_icon_{{ item.data.icon }}"></use></svg>{% endif %}
        {{ item.data.title | markdown: 'inline' }}
      </a>
    </h3>
  </header>

{%- if item.data.location.name and hideSummary != true -%}
  <div class="item__main s-linear | p-location">
    <p class="h-card">
      at <span class="p-name">{{ item.data.location.name }}</span>
      {%- if item.data.location.locality %}, <span class="p-adr h-adr p-locality">{{ item.data.location.locality }}</span>{% endif %}
    </p>
  </div>
{%- endif -%}

  <footer class="item__footer">
    <time class="dt-published" datetime="{{ item.data.start | date }}">{{ item.data.start | date: dates.date }}</time>
    <time class="dt-start" datetime="{{ item.data.start | date }}"></time>
    <time class="dt-end" datetime="{{ item.data.end | date }}"></time>
  </footer>
</article>
