{%- assign permalink = id | prepend: '#remark-' -%}
<article class="item | p-comment h-cite" id="remark-{{ id }}">
  <header class="item__header">
    <h3 class="item__title | p-author h-card">
      {%- if item.author.url %}<a class="u-url" href="{{ item.author.url }}" target="_blank" rel="noopener noreferrer">{% endif -%}
        <span class="p-name">{{ item.author.name | default: 'Anonymous' }}</span>
        {% image item.author.photo, 'avatar', 'avatar' %}
      {%- if item.author.url %}</a>{% endif -%}
    </h3>
  </header>

  <div class="item__main s-linear | p-summary">
    {{ item.content.value | default: item.content | markdown }}
  </div>

  <footer class="item__footer">
    <a class="u-url" rel="bookmark" href="{{ item.url | default: permalink }}">
      <time class="dt-published" datetime="{{ item.published | date }}">{{ item.published | date: dates.date_time }}</time>
    </a>
  </footer>
</article>
