<article class="remark | p-comment h-cite" id="remark-{{ forloop.rindex }}">
  <div class="remark__image">
    <img class="avatar | u-photo" src="https://gravatar.com/avatar/{{ item.gravatar }}?s=96&d=identicon" alt="" width="48" height="48">
  </div>

  <header class="remark__header">
    <h3 class="remark__title | p-author h-card">
      {%- if item.url %}<a class="u-url" href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{% endif -%}
      <span class="p-name">{{ item.author }}</span>
      {%- if item.url %}</a>{% endif -%}
    </h3>

    <p class="remark__meta">
      <a class="u-url" rel="bookmark" href="#remark-{{ forloop.rindex }}">
        <time class="dt-published" datetime="{{ item.published | date: dates.iso }}">{{ item.published | date: dates.datetime_full }}</time>
      </a>
    </p>
  </header>

  <div class="remark__main s-linear | p-summary">
    {{ item.content | markdownify }}
  </div>
</article>
