<article class="item item--{{ modifier | default: 'block' }} | h-card" data-type="venue">
  <header class="item__header">
    <h3 class="item__title | p-name">
      <a href="{{ item.data.bookmark }}">{{ item.data.title | markdownify: 'inline' }}</a>
    </h3>
  </header>

  <p class="item__main s-linear | h-adr">
    <span class="p-locality">{{ item.data.address.locality }}</span>,
    <span class="p-country-name">{{ item.data.address.country-name }}</span>
  </p>
</article>
