<article class="remark | h-cite" id="webmention-{{ item.wm-id }}">
  <div class="remark__image">
    <img class="avatar | u-photo" src="{{ item.author.photo | default: '/assets/vectors/avatar.svg' }}" alt="" width="48" height="48">
  </div>

  <header class="remark__header">
    <h3 class="remark__title | p-author h-card">
      {%- if item.author.url %}<a class="u-url" href="{{ item.author.url }}" target="_blank" rel="noopener noreferrer">{% endif -%}
      <span class="p-name">{{ item.author.name | default: 'Anonymous' }}</span>
      {%- if item.author.url %}</a>{% endif -%}
    </h3>

    <p class="remark__meta">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        <time class="dt-published" datetime="{{ item.published | date: dates.iso }}">{{ item.published | date: dates.datetime_full }}</time>
      </a>
    </p>
  </header>

  <div class="remark__main s-linear | p-content">
    {{ item.content.value }}
  </div>
</article>
