---
eleventyExcludeFromCollections: true
permalink: /feed.json
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ app.title }}",
  "description": "{{ app.description }}",
  "home_page_url": "{{ app.url }}",
  "feed_url": "{{ '/feed.json' | prepend: app.url }}",
  "favicon": "{{ app.favicon | prepend: app.url }}",
  "icon": "{{ app.icon | prepend: app.url }}",
  "author": {
    "name": "{{ app.author.name }}",
    "url": "{{ app.author.url }}",
    "avatar": "{{ app.author.avatar }}"
  },
  "items": [{% for item in collections.post limit: 25 %}
    {
      "id": "{{ item.url | prepend: app.url | pretty }}",
      "url": "{{ item.url | prepend: app.url | pretty }}",
      {% if item.data.url %}"external_url": "{{ item.data.url }}",{% endif %}
      {% if item.data.in_reply_to %}"external_url": "{{ item.data.in_reply_to }}",{% endif %}
      "title": "{% unless item.data.exclude_title_from_feed %}{{ item.data.title | markdownify: 'inline' }}{% endunless %}",
      {% if item.data.summary %}"summary": {{ item.data.summary | markdownify: 'inline' | jsonify }},{% endif %}
      {% if item.data.category %}"tags": {{ item.data.category | jsonify }},{% endif %}
      "content_html": {% capture content_html %}{% if item.data.in_reply_to %}<p><small>↪︎ In reply to <a class="u-in-reply-to" href="{{ item.data.in_reply_to }}">a post on {{ item.data.in_reply_to | hostname }}</a></small></p>{% endif %}{{ item.templateContent | strip_mentions }}{% if item.data.photo %}{% include 'photos' with item.data.photo image_class: 'u-photo' image_preset: 'feed' %}{% endif %}{% endcapture %}{{ content_html | strip | jsonify }},
      "date_published": {{ item.data.date | jsonify }}
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}]
}
