{%- assign itinerary = collections.travel | includes: 'data.tripId',trip.id | first -%}
{%- assign formattedTitle = title | replace: ' ➔','\n➔' -%}
{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer'
    date: trip.date
  -%}
  {%- render 'header'
    title: formattedTitle
    summary: summary
    vocab: vocab
  -%}
  {%- capture content -%}
    <p>Part of a journey to <a href="{{ itinerary.url }}">{{ itinerary.data.title }}</a>.</p>
    {%- capture caption -%}
      {%- for stop in trip.stops -%}
        <a href="/places/{{ stop.address.plus_code }}">
          {%- unless forloop.first %}<svg width="1em" height="1em" focusable="false" aria-hidden="true"><use href="#_icon_{{ stop.icon }}"></use></svg> {% endunless -%}
          {{ stop.title }}, {{ stop.address.country_name }}{% if stop.iata %} ({{ stop.iata }}){% endif -%}
        </a><br>
      {%- endfor -%}
    {%- endcapture -%}
    {%- render 'map'
      geojson: trip.geojson
      position: position
      caption: caption
      alignment: 'bleed'
    -%}
    {{ trip.content | markdown }}
  {%- endcapture -%}
  {%- render 'content' with content -%}
{%- endblock -%}
