{%- assign geo = venue.address['plus-code'] | pluscode_to_geo -%}
{%- assign venue_id = venue.address['plus-code'] | downcase -%}

{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer'
    date: false
    geo: geo
  -%}
  {%- render 'header'
    title: title
    url: venue.url
    vocab: vocab
  -%}
  {%- capture content -%}
    <figure class="align-bleed">
      <a href="https://duckduckgo.com/?q={{ geo.latitude }},{{ geo.longitude }}&iaxm=places">
        {%- capture overlay -%}
          pin-l+{{ app.accent_color | remove: '#' }}({{ geo.longitude }},{{ geo.latitude }})
        {%- endcapture -%}
        {%- capture position -%}
          {{ geo.longitude }},{{ geo.latitude }},15,0.00,0.00
        {%- endcapture -%}
        {%- render 'map'
          overlay: overlay
          position: position
        -%}
      </a>
      <figcaption>
        {%- render 'address' with venue.address -%}
      </figcaption>
    </figure>
    {{ venue.content | markdown }}
  {%- endcapture -%}
  {%- render 'content' with content -%}
  {{ venue.venue_id }}
  {%- assign related = collections.event | includes: 'data.venue_id',venue_id | reverse -%}
  {%- render 'section' with related
    id: 'events'
    title: 'Other events at this venue'
    items_modifier: 'inline'
    item_hide_summary: true
  -%}
{%- endblock -%}
