{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer'
    date: false
    geo: page.data.geo
  -%}
  {%- render 'header'
    title: title
    url: page.data.url
    vocab: vocab
  -%}
  {%- capture content -%}
    <figure class="align-bleed">
      <a href="https://duckduckgo.com/?q={{ geo.latitude }},{{ geo.longitude }}&iaxm=places">
        {%- capture overlay -%}
          pin-l+{{ app.accent_color | remove: '#' }}({{ page.data.geo.longitude }},{{ page.data.geo.latitude }})
        {%- endcapture -%}
        {%- capture position -%}
          {{ page.data.geo.longitude }},{{ page.data.geo.latitude }},15,0.00,0.00
        {%- endcapture -%}
        {%- render 'map'
          overlay: overlay
          position: position
        -%}
      </a>
      <figcaption>
        {%- render 'address' with page.data.address -%}
      </figcaption>
    </figure>
    {{ page.data.content | markdown }}
  {%- endcapture -%}
  {%- render 'content' with content -%}
  {%- assign related = collections.event | includes: 'data.venue_id',page.fileSlug | reverse -%}
  {%- render 'section' with related
    id: 'events'
    title: 'Other events at this venue'
    items_modifier: 'inline'
    item_hide_summary: true
  -%}
{%- endblock -%}
